.idea
sources/*.log
docker/server/certs/*.pem
docker/logs/nginx/*.log
docker/logs/db/*.log
.vscode

# for realtime chat
sources/*
!sources/tcom/
docker/config/conf.d/*
!docker/config/conf.d/realtime-app.conf